GITHUB_USERNAME=jrodriguez88
DOCKERHUB_USERNAME=jrodriguez88
PROJECT_NAME=agroclimR_app
VERSION=0.1.0

# Image naming
IMAGE_PREFIX=agroclimr-app
TAG_LATEST=true

# Optional DSSAT source build settings
DSSAT_REPO=https://github.com/DSSAT/dssat-csm-os.git
DSSAT_REF=v4.8.5.0
DSSAT_EXECUTABLE=dscsm048
DSSAT_BUILD_TYPE=RELEASE

# Optional AquaCrop source build settings
AQUACROP_REPO=https://github.com/KUL-RSDA/AquaCrop.git
AQUACROP_REF=v7.3_typofix
AQUACROP_EXECUTABLE=aquacrop
